:root {
  --cell-size: 5vh;
  --popup-height: 50px;
  --popup-gap: 10px;

  --popup-width: calc(var(--popup-height) * 2 + var(--popup-gap));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100%;
  min-width: 1000px;
  background: #3ccfbf;
}

svg {
  height: 80%;
  width: 80%;
}

button {
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}

.homescreen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 3;
}

.homescreen--hidden {
  display: none;
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 3;
}

.modal--hidden {
  display: none;
}

.modal__box {
  padding: 50px;
  max-width: 500px;
}

.ship-menu {
  background: white;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid black;
  transition: transform 1s;
}

.ship-menu--hidden {
  transform: translateX(-100%);
}

.ship-menu__list {
  width: 100%;
}

.ship-menu__buttons {
  display: flex;
}

.ship-menu__item,
.ship-menu__button {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.ship-menu__item--placed {
  opacity: 0.3;
}

.finish-setup-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.5s;
}

.finish-setup-button--hidden {
  transform: translateY(200%);
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh;
}

.board {
  border-collapse: collapse;
  margin: 0 15px;
  border: 1px solid white;
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  position: relative;
}

.board--user .cell--can-place {
  background: #94ea89;
  cursor: grabbing;
}

.board--user .cell--cannot-place {
  background: #eb897f;
  cursor: grabbing;
}

.board--attack .cell:not(.shot):hover {
  background: #94ea89;
  cursor: pointer;
}

.ship {
  position: absolute;
  top: 0;
  left: 0;
  background: #4a6fa5;
  border: 3px #404756 solid;
  z-index: 1;
  cursor: pointer;
}

.ship--sunk {
  background: #b24b68;
  border: 3px #564145 solid;
}

/* horizontal ships */

.ship--hori {
  height: var(--cell-size);
}

.ship--hori#c {
  width: calc(var(--cell-size) * 5);
}

.ship--hori#b {
  width: calc(var(--cell-size) * 4);
}

.ship--hori#d,
.ship--hori#s {
  width: calc(var(--cell-size) * 3);
}

.ship--hori#p {
  width: calc(var(--cell-size) * 2);
}

/* vertical ships */

.ship--vert {
  width: var(--cell-size);
}

.ship--vert#c {
  height: calc(var(--cell-size) * 5);
}

.ship--vert#b {
  height: calc(var(--cell-size) * 4);
}

.ship--vert#d,
.ship--vert#s {
  height: calc(var(--cell-size) * 3);
}

.ship--vert#p {
  height: calc(var(--cell-size) * 2);
}

.ship__popup {
  content: "";
  position: absolute;
  bottom: calc(100% + var(--popup-gap));
  left: calc(50% - var(--popup-width) / 2);
  height: var(--popup-height);
  width: var(--popup-width);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.1s;
  transform-origin: bottom center;
}

.ship__popup--hidden {
  transform: scale(0);
}

.ship__button {
  height: var(--popup-height);
  width: var(--popup-height);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ship__button:hover {
  background: #ddd;
}

.ship__button--rotate svg {
  fill: #007f49;
}

.ship__button--remove svg {
  fill: #b15042;
}
