@font-face {
  font-family: "A-Space Light";
  src: url("./assets/A-Space Light Demo.otf");
}

:root {
  --cell-size: 7vh;
  --popup-height: 50px;
  --popup-gap: 10px;
  --popup-width: calc(var(--popup-height) * 2 + var(--popup-gap));
  --background: #020c15;
  --primary-100: #ebf4f6;
  --primary-200: #c2dde4;
  --primary-300: #99c7d3;
  --primary-400: #5ba5b8;
  --primary-500: #328fa6;
  --primary-600: #287285;
  --primary-700: #194853;
  --primary-800: #0f2b32;
  --primary-900: #050e11;
  --warning: #f22727;
  --mark: #f2d430;

  font-family: "A-Space Light";
  color: var(--primary-100);
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;

  letter-spacing: inherit;
  text-transform: inherit;
}

html,
body {
  height: 100%;
  min-width: 100%;
}

body {
  background: rgb(2, 12, 21);
  /* background-image: radial-gradient(circle, #020c15, #0f1d26, #142c37, #183c49, #1b4d5a); */
}

svg {
  height: 80%;
  width: 80%;
}

button {
  background: #fff;
  color: inherit;
  border: 1px solid black;
  padding: 12px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s;
}

.homescreen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 3;
}

.homescreen--hidden {
  display: none;
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 3;
}

.modal--hidden {
  display: none;
}

.modal__box {
  padding: 50px;
  max-width: 500px;
}

.sidebar {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transition: transform 0.5s;
}

.sidebar--hidden {
  transform: translateX(-100%);
}

.ship-menu {
  margin: 16px 32px;
  padding: 12px 32px;
  border-top: 1px solid var(--primary-500);
  border-bottom: 1px solid var(--primary-500);
  background: linear-gradient(transparent, rgba(50, 143, 166, 0.2));
}

.ship-menu__item {
  list-style-type: none;
  margin: 12px 0;
  display: flex;
  align-items: center;
  cursor: grab;
}

.ship-menu__item--taken .ship-menu__display img {
  display: none;
}

.ship-menu__item--taken .ship-menu__label {
  color: var(--primary-700);
}

.ship-menu__display {
  position: relative;
  height: 40px;
  width: 200px;
}

.ship-menu__display img {
  height: 100%;
  width: 100%;
}

.ship-menu__display::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(./assets/menu-grid-display.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ship-menu__label {
  margin-left: 24px;
  margin-right: 8px;
}

.sidebar__button__wrapper {
  display: flex;
  margin: 0 32px;
  padding: 4px 0;
}

.sidebar__button {
  margin: auto;
  width: 50%;
  border: none;
  padding: 6px;
  background: var(--primary-200);
  color: var(--primary-700);
  text-transform: uppercase;
}

.sidebar__button:hover {
  background: var(--primary-100);
}

@media only screen and (max-width: 1100px) {
  .ship-menu__item {
    display: block;
  }

  .ship-menu__label {
    margin-left: 0;
    margin-top: 12px;
  }

  .sidebar__button {
    width: 100%;
  }
}

.finish-setup-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: var(--primary-500);
  cursor: default;
  transition: all 0.3s;
}

.finish-setup-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 8px;
  border-left: 1px solid var(--primary-600);
  border-bottom: 1px solid var(--primary-600);
  transition: all 0.3s;
}

.finish-setup-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 8px;
  width: 8px;
  border-right: 1px solid var(--primary-600);
  border-top: 1px solid var(--primary-600);
  transition: all 0.3s;
}

.finish-setup-button:not(.finish-setup-button--hidden) {
  transform: translateY(-8px);
  cursor: pointer;
}

.finish-setup-button:not(.finish-setup-button--hidden)::before {
  bottom: -4px;
  left: -4px;
  border-left: 1px solid var(--primary-200);
  border-bottom: 1px solid var(--primary-200);
}

.finish-setup-button:not(.finish-setup-button--hidden)::after {
  top: -4px;
  right: -4px;
  border-top: 1px solid var(--primary-200);
  border-right: 1px solid var(--primary-200);
}

.finish-setup-button:not(.finish-setup-button--hidden):hover {
  background: var(--primary-400);
}

.finish-setup-button:not(.finish-setup-button--hidden):hover::before {
  left: -8px;
  bottom: -8px;
}

.finish-setup-button:not(.finish-setup-button--hidden):hover::after {
  top: -8px;
  right: -8px;
}

.finish-setup-button--hidden {
  background: var(--primary-800);
}

.board-container {
  margin-left: 500px; /* ! temporary */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh;
}

.board {
  height: calc(var(--cell-size) * 10);
  width: calc(var(--cell-size) * 10);
  border-collapse: collapse;
  margin: 0 15px;
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  position: relative;
  border: 1px solid var(--primary-800);
}

.board--user .cell--can-place {
  background: var(--primary-600);
  cursor: grabbing;
}

.board--user .cell--cannot-place {
  background: var(--warning);
  cursor: grabbing;
}

.cell--shot {
  background: var(--primary-900);
}

.board--ai.board--attack .cell:not(.cell--shot):hover {
  background: var(--primary-600);
  cursor: pointer;
}

.board--user.board--modifying .ship {
  pointer-events: none;
}

.board--user.board--modifying .ship--to-move {
  opacity: 0.5;
}

.ship {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--cell-size);
  fill: var(--primary-600);
  z-index: 1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ship#c {
  width: calc(var(--cell-size) * 5);
  background-image: url(./assets/carrier.svg);
}

.ship#b {
  width: calc(var(--cell-size) * 4);
  background-image: url(./assets/battleship.svg);
}

.ship#d {
  width: calc(var(--cell-size) * 3);
  background-image: url(./assets/destroyer.svg);
}

.ship#s {
  width: calc(var(--cell-size) * 3);
  background-image: url(./assets/submarine.svg);
}

.ship#p {
  width: calc(var(--cell-size) * 2);
  background-image: url(./assets/patrol-boat.svg);
}

.ship--vert {
  transform: rotate(90deg) translateY(calc(var(--cell-size) * -1));
  transform-origin: top left;
}

.ship--sunk {
  cursor: default;
}

.ship__popup__wrapper {
  content: "";
  position: absolute;
  bottom: calc(100% + var(--popup-gap));
  left: calc(50% - var(--popup-width) / 2);
  height: var(--popup-height);
  width: var(--popup-width);
  pointer-events: none;
}

.ship--vert .ship__popup__wrapper {
  transform: rotate(-90deg);
  transform-origin: bottom right;
  right: calc(100% + 10px);
  top: calc(-50% - 110px / 2);
  bottom: auto;
  left: auto;
}

.ship__popup {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  pointer-events: auto;
  transition: all 0.15s;
  transform-origin: bottom center;
}

.ship__popup--hidden {
  transform: scale(0);
}

.ship__button {
  height: var(--popup-height);
  width: var(--popup-height);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ship__button:hover {
  background: #ddd;
}

.ship__button--rotate svg {
  fill: #007f49;
}

.ship__button--remove svg {
  fill: #b15042;
}
