* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#ships {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

#ships li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh;
}

table {
  height: 80vh;
  width: 80vh;
}

td {
  border: 1px solid black;
}
